.container.text-left
  .row.u-margin-top-lg
    .col-md-6
      = image_tag "/images/events/gitlab-commit/intro.jpg", loading: "lazy"
    .col-md-6.u-margin-bottom-xs
      %h1 GitLab Commit: Innovate Together
      %p 
        Bringing together the GitLab community, Commit shares stories from across the software development lifecycle to inspire and connect teams to innovate together. GitLab Commit showcases how software professionals iterate to spark transformation, innovation, and collaboration. During this two-day conference, attendees learn practical techniques and useful insights to implement at their organizations. As an open DevOps platform, GitLab supports teams to change how software is delivered. Commit amplifies these stories of transformation to empower DevOps teams to increase velocity, collaboration, and visibility.     
        %strong
          60+ speakers from 20+ industries presenting over 8+ tracks: All for free. Belong to a community of people passionate about DevOps.
      - if current_page.data.expiration_date
        - expirationDate = Time.parse(current_page.data.expiration_date)
      - else
        - expirationDate = Time.parse("2010-01-01")
      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
      - if (expirationDate > currentTime && current_page.data.event_register_url)
        %noscript
          :plain
            <noscript><a href="https://www.eventbrite.com/e/gitlab-commit-virtual-registration-105130995638?aff=pubsec" rel="noopener noreferrer" target="_blank"></noscript>
            <button id="eventbrite-widget-modal-trigger-105130995638" type="button" class="btn cta-btn orange" style="border: 1px solid #ffffff;">Register now</button>
            <noscript>Register now</a></noscript>
